# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
authorization_server/authorization_server

# Development environment settings
.idea

# Docker conteiners results 
*.tar

# binary files
auth/auth
*.DS_Store